
        span{
            color:bisque;
            font-size: 25px
        }
        #hending {
            color:blue

        }
        
        .heading {
            color:aqua

        }